.body {
    font-family: "Lato", sans-serif;
    font-size: 15px;
    line-height: 1.6;
    text-align: justify;
}

.body__widht {
    max-width: 1000px;
    padding: 25px 35px;
    margin: 30px auto;
    border: 3px ridge rgb(221, 219, 231);
    outline: 3px ridge rgb(238, 238, 245);
    outline-offset: 5px;
    background-image: url(/images/background.jpg);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: auto 200px;
}

.body__title {
    font-size: 18px;
    font-style: italic;
    font-weight: normal;
    color: rgb(22, 21, 22);
    background-color: rgb(246, 255, 255);
    text-shadow: 0px 2px 12px rgba(10, 99, 105, 0.47);
    text-align: justify;
}

.body__theme {
    color: rgb(10, 10, 10);
    text-decoration: none;
    text-align: center;
    border: 2px solid #b7c2f070;
    border-radius: 15px;
    background-color: #e7e8f0fd;
    padding: 5px;
    max-width: 100px;
    margin: 15px auto;
}

.body__theme:hover {
    background-color: rgb(18, 196, 236);
    box-shadow: 0px 1px 41px -12px rgb(228, 228, 236);
}

.body__footer {
    background-color: rgb(227, 243, 243);
    text-align: center;
    text-decoration-color: rgb(22, 22, 22);
}
